<launch>
  <param name="simulating" type="bool" value="true" />
  <param name="robot_description" textfile="$(find pegasus_sim)/viz/qcopter.urdf"    />
  <param name="latitudeN0" type="double" value="40.2673491"                          />
  <param name="longitudeE0" type="double" value="-111.6354615"                       />
  <param name="heightM0" type="double" value="1500.0"                                />

  <group ns="rosflight">
    <node name="naze"  pkg="rosflight"  type="rosflight_io"                          />
  </group>

  <group ns="pegasus">
    <param name="use_truth" type="bool" value="false"                                />
    <rosparam command="load" file="$(find pegasus)/param/vehicle_description.yaml"   />
    <rosparam command="load" file="$(find pegasus)/param/controller_params.yaml"     />
    <rosparam command="load" file="$(find pegasus)/param/estimator_params.yaml"      />
    <rosparam command="load" file="$(find pegasus)/param/ground_station_params.yaml" />
    <rosparam command="load" file="$(find pegasus)/param/rx_settings.yaml"           />
    <rosparam command="load" file="$(find pegasus)/param/initial_conditions.yaml"    />
    <node name="controller" pkg="pegasus" type="controller" output="screen"          />
    <node name="estimator" pkg="pegasus" type="estimator" output="screen"            />
  </group>

  <group ns="pegasus_sim">
    <rosparam command="load" file="$(find pegasus_sim)/param/simulation_params.yaml" />
    <node name="eom" pkg="pegasus_sim" type="equations_of_motion" output="screen"    />
    <node name="sensors" pkg="pegasus_sim" type="sensors" output="screen"            />
    <node name="wind" pkg="pegasus_sim" type="wind" output="screen"                  />
  </group>

  <node name="pitch_plotter"
      pkg="rqt_plot"
      type="rqt_plot"
      args="/pegasus_sim/truth/theta /pegasus/state_hat/theta" />

  <node name="roll_plotter"
      pkg="rqt_plot"
      type="rqt_plot"
      args="/pegasus_sim/truth/phi /pegasus/state_hat/phi"    />

  <node name="yaw_plotter"
      pkg="rqt_plot"
      type="rqt_plot"
      args="/pegasus_sim/truth/psi /pegasus/state_hat/psi" />

  <node name="u1_plotter"
      pkg="rqt_plot"
      type="rqt_plot"
      args="/pegasus_sim/truth/u1 /pegasus/state_hat/u1" />
  <node name="v1_plotter"
      pkg="rqt_plot"
      type="rqt_plot"
      args="/pegasus_sim/truth/v1 /pegasus/state_hat/v1" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pegasus_sim)/viz/qcopter.rviz" required="true"/>
</launch>
